h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  box-shadow: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-weight: 700;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-position {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  color: #000;
}

.navigation {
  margin-left: 93px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.navigation__item {
  position: relative;
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 44px;
}
.navigation__link:hover {
  color: #2196f3;
}

.contact {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-left: 318px;
}
.contact__email, .contact__tel {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-tel:hover .icon-smartphone {
  fill: #2196f3;
}

.icon-smartphone {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email:hover .icon-envelope {
  fill: #2196f3;
}

.icon-envelope {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email:hover, .contact-tel:hover {
  color: #2196f3;
}

.contact:hover {
  color: #2196f3;
}

footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-position {
  display: flex;
  align-items: center;
}

.footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.address-position {
  margin-top: 20px;
}

.address__item {
  margin-top: 9px;
}
.address__contact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__oficce {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.studio1 {
  color: #fff;
  margin-bottom: 20px;
}

.social {
  margin-left: 70px;
  height: 80px;
  width: 206px;
}
.social__list {
  display: flex;
}
.social__text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer-circle {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-circle:hover {
  background-color: #2196F3;
}

.icon-footer {
  padding: 12px;
  fill: #FFFFFF;
  width: 44px;
  height: 44px;
}

.subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.subscribe__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.subscribe__position {
  position: relative;
}
.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 15px;
}
.subscribe__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-right: 62px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #fff;
}

.icon-send {
  position: absolute;
  top: 13px;
  right: 40px;
  fill: #fff;
}

.filter {
  display: flex;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 34px;
  padding: 6px 25px;
  border: 1px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.filter__button:hover {
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.card {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 94px;
}
.card__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.card__article {
  flex-basis: calc((100% - 60px) / 3);
}
.card__title {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
}
.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(102%);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-overlay:hover .text-overlay {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */