.filter {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 40px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 34px;
  }

  &__button {
    font-weight: 500;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    padding: 6px 25px;
    border: 1px;
    background-color: #f5f4fa;
    border-radius: 4px;

    &:hover {
      background-color: #2196f3;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-bottom: 60px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    column-gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 30px;
    margin-bottom: 94px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
      width: 370px;
    }
  }
  &__item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }

  &__title {
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-left: 24px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
    margin-bottom: 20px;
  }
}

.img-overlay {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(102%);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition-property: transform;
  @extend %transition-settings !optional;
}
.img-overlay:hover .text-overlay {
  transform: translateY(0);
}
