footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
   }
   .footer-position{
      display: flex;
      align-items: center;
      flex-direction: column;
@media screen and (min-width:768px) {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
    column-gap: 165px;
      &__place{
    width: 50%;
  }
}
@media screen and (min-width:1200px) {
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 0;
}


   }
   .footer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

.logo--footer{
  margin-left: 39px;
  @media screen and (min-width:1200px) {
      margin-left: 0px;
  }
}
  .address-position{
    margin-top: 20px;
    margin-bottom: 60px;
@media screen and (min-width:1200){
    margin-bottom: 0;
}
  }
.address{
   &__item{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
@media screen and (min-width:1200px)  {
    display: block;
}
   }
   &__contact{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__oficce{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
  }
}

  .studio1{
      color: #fff;
      margin-bottom: 20px;
  }
  .social--footer{   
      height: 80px;
      width: 206px;
      margin-bottom: 60px;

@media screen and (min-width:1200px) {
   margin-left: 70px;  
}

  .social__list--footer{
      display: flex;
}
  .social__text{
      margin-bottom: 20px;
      text-align: center;
      font-family: $font-family;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #fff;

@media screen and (min-width:1200px) {
  text-align: start;
}
  }
}
  .footer-circle{
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     width: 44px;
     height: 44px;
     margin-right: 10px;
     transition-property: background-color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
      background-color: #2196F3;
  }
}
  .icon-footer{
     padding: 12px;
     fill: #FFFFFF;
     width: 44px;
     height: 44px;
  }


  .subscribe{
     width: 450px;
     height: 156px;

@media screen and (min-width:1200px) {
  margin-left: 93px;
}
    //  margin-left: 93px;
  
    &__title{
      margin-bottom: 20px;
      font-family: $font-family;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
    @media screen and (min-width:1200px) {
    text-align: start;
   }
    }
   &__position{
      position: relative;
      display: flex;
      flex-direction: column;

   @media screen and (min-width:1200px) {
    flex-direction: row;
   }
  }
    &__input{
     border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 4px;
     width: 450px;
     height: 50px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     background: rgba(33, 150, 243, 0);
     padding-left: 15px;
     margin-bottom: 20px;
  @media screen and (min-width:1200px) {
    width: 358px;
  }
  }
   &__button{
      border-radius: 4px;
      width: 200px;
      height: 50px; 
      padding-left: 28px;
      padding-right: 62px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background: #2196f3;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 16px;
      line-height: 187%;
      letter-spacing: 0.06em;
      color: #fff;
      margin-left: 125px;
    @media screen and (min-width:1200px) {
    margin-left: 12px;
   }
  }
}

  .icon-send{
    position: absolute;
    top: 83px;
    right: 150px;
    fill: #fff;

@media screen and (min-width:1200px) {
    top: 13px;
    right: -95px;
}
  }