header{
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width:1200px){
    padding-top: 24px;
    padding-bottom: 24px;
   }
}
.header-position{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #2196f3;

@media screen and (min-width:1200px){
    font-size: 26px;
}
}
.studio{
    color: #000;
}
.navigation{
    display: none;

@media screen and (min-width: 768px){
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    flex-direction: row;
    column-gap: 50px;
    
    &__item{
    position: relative;
   } 
   
   &__link{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 44px;
   }
    &:hover{
     color: #2196f3;
  }

}
}
@media screen and (min-width: 1200px){
        margin-left: 93px;
        margin-right: 315px;
}
}
.contact{
    display: none;

    @media screen and (min-width:768px){     
        display: flex;
        flex-direction: column;
        &__email, &__tel {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #757575;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     }
}
@media screen and (min-width:1200px){
    display: flex;
    flex-direction: row;
    column-gap: 30px
}
}
.contact:hover{
    color: #2196f3;
}
.contact__tel:hover .icon-smartphone{
    fill: #2196f3;
}
.icon-smartphone{
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover .icon-envelope{
    fill: #2196f3;
}
.icon-envelope{
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover, .contact__tel:hover{
    color: #2196f3;
}
.header__burger{
    margin-left: 267px;
@media screen and (min-width:768px){
    display: none;
}

}